body 
{
font-family:"Arial" "宋体"; font-size: 12px; line-height: 14pt;
SCROLLBAR-3DLIGHT-COLOR: #cccccc;
SCROLLBAR-ARROW-COLOR: #333333; 
SCROLLBAR-DARKSHADOW-COLOR: #cccccc;
SCROLLBAR-BASE-COLOR: #dbd7d0;
}


A:link {text-decoration:none;color:#000000;}
A:visited {text-decoration:none;color:#000000;}
A:active {text-decoration:none;color:#ff0000;}
A:hover {text-decoration:underline;color:#ff0000;}

A.tab:link {text-decoration:none;color:#7F7F7F;}
A.tab:visited {text-decoration:none;color:#7F7F7F;}
A.tab:active {text-decoration:none;color:#7F7F7F;}
A.tab:hover {text-decoration:none;color:#FF6600;}

A.foot 
{
	font-size:12px; 
	color:#003366; 
	height:12px; 
	text-decoration:none;
}
A.foot:hover 
{
	background-color:#003366;
	color:#FFFFFF;
	text-decoration:none;
}
A.top
{
	font-size:12px; 
	color:#003366; 
	height:12px; 
}
A.top:hover
{
	background-color:#003366;
	color:#FFFFFF;
	border-top:1px solid #996633;
	border-bottom:1px solid #996633;
}

table {  font-size: 12px}
input,textarea {  font-family:"Arial" "宋体"; font-size: 12px}
SELECT { font-family:"Arial" "宋体"; font-size: 12px; border: 1px solid #336699; z-index: -1}
.btn {  font-size: 12px; color: #053969; filter: DropShadow(Color=#ffffff, OffX=1, OffY=1, Positive=1))}
.btn_height {  font-size: 12px; height: 20px}
.text_px14 {  font-size: 14px}


.button      { height: 21; font-family: Arial 宋体; color: #053969; background-image: 
               url('file:///C:/Documents%20and%20Settings/Administrator/Local%20Settings/Temporary%20Internet%20Files/Content.IE5/images/button_bak.gif'); 
               background-repeat: repeat; background-attachment: scroll; 
               filter: DropShadow(Color=#ffffff, OffX=1, OffY=1, Positive=1); 
               font-size: 12px; border-left-color: #EEEEEE; 
               border-left-width: 1; border-right-color: #5A6CA2; 
               border-right-width: 1; border-top-color: #EEEEEE; 
               border-top-width: 1; border-bottom-color: #5A6CA2; 
               border-bottom-width: 1; background-position: 0% }
.text_hightline {  line-height: 18px}

.HelpListItemAlt
{
    background-color: #fffff0;    
    color: black;
    font-family: Arial,宋体;
    font-size: 11px;
    padding-left: 5px;
}

.HelpListItem
{
	background-color: #ffffff;    
    color: black;
    font-family: Arial,宋体;
    font-size: 11px;
    padding-left: 5px;    
}

.ListItemAlt
{
    background-color: #fffff0;    
    color: black;
    font-family: Arial,宋体;
    font-size: 11px;
    padding-left: 5px;
}

.ListItem
{
	background-color: #ffffff;    
    color: black;
    font-family: Arial,宋体;
    font-size: 11px;
    padding-left: 5px;    
}

.ListTitle
{
	background-color: #e0e9f8;    
    color: black;
    font-family: Arial,宋体;
    font-size: 11px;
    padding-left: 5px;
}

.ListText
{
	color:#AAAAAA;
}

.ListTextCurrent
{
	color:#FF0000;
	font-weight:bold;
}

.buttonstyle1 
{
	border: 1px #666666 solid; 
	background-color:f0f0f0;
	font-size:9pt;
	color:#666666;
	hideFocus;
}

.text9pt 
{
	font-size: 9pt; 
	line-height: 13pt
}

.tabletd
{
	line-height : 16pt;	
}

.textflat 
{
	background-color: #FFFFFF; color: #000099; font-size: 9pt;
	border-left: 0px solid #999999; border-right: 0px solid #999999; 
	border-top: 0px solid #999999; border-bottom: 1px solid #999999;
 }
 
 .textflat3 
{
	 background-color: #FFFFF0; color: #000099; font-size: 9pt;
	border-left: 0px solid #999999; border-right: 0px solid #999999; 
	border-top: 0px solid #999999; border-bottom: 1px solid #999999;
 }
 
 .textflat2 
{
	background-color: #FFFFFF; color: #000099; font-size: 9pt;
	border-left: 1px solid #999999; border-right: 1px solid #999999; 
	border-top: 1px solid #999999; border-bottom: 1px solid #999999;
 }
 
 .ListBox
 {
	background-color: #FFFFFF; color: #000099; font-size: 9pt;
	border-left: 1px solid #999999; border-right: 1px solid #999999; 
	border-top: 1px solid #999999; border-bottom: 1px solid #999999;
	SCROLLBAR-HIGHLIGHT-COLOR: buttonface;
	SCROLLBAR-SHADOW-COLOR: buttonface;
	SCROLLBAR-3DLIGHT-COLOR: buttonhighlight;
	SCROLLBAR-TRACK-COLOR: #eeeeee;
	SCROLLBAR-DARKSHADOW-COLOR: buttonshadow	
 }
 
 .textnoborder
 {
	background-color: #fffff0; color: #000099; font-size: 9pt;
	border-left: 1px solid #fffff0; border-right: 1px solid #fffff0; 
	border-top: 1px solid #fffff0; border-bottom: 1px solid #fffff0;
	height: 23px; width:140pt;
 }
 
 
 .TitleBar
{
	FONT-WEIGHT: bold;
	FONT-SIZE: 10pt;
	COLOR: #ffffff;
	FONT-FAMILY: Trebuchet MS
}
.MainStyle
{
	font-family: Arial;
	font-size: 10pt;
}	


.TableStyle 
{
	font-family: Arial;
	font-size: 9pt;
	background-color: #FFFFFF;
	border:             windowframe 1px solid;
}	
					
.TableGrid {
	font-family: Verdana, Tahoma, sans-serif;
	font-size: 9pt;
	background-color: window;
	color: windowtext;
	border-right: threedlightshadow 1px solid;
	border-bottom: threedlightshadow 1px solid;
	color: #666666;
	padding-left: 3px;
	padding-right: 3px;
}
		
.TableHeader 
{
	font-size: 10pt;
	background-color: #dbd7d0;
	border-color: #EEEEEE #999999 #999999 #EEEEEE;
	border-style: solid;
	border-width: 1px
}
					
.WindowHeader {
	font-size: 10pt;
	background-color: #E0E9F8;
	border-color: #CCE9F8 #CCE9F8 #000000 #CCE9F8;
	border-style: solid;
	border-width:1px
}
					
.TableInput {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	border: 1px #F0F0F0 solid;
	padding-bottom: 3px;
	padding-left: 3px;
} 

.TableInputOff {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	background-color: #eeeeff;
	color: #9999ff;
	border: 1px #9999ff solid;
	padding-bottom: 3px;
	padding-left: 3px;
}
					
.LeftStyle 
{
	font-family: Arial;
	font-size: 8pt;
}
	
.InsertCell 
{
	border: 1px #EEEEFF solid;
	width: 100%;
	height: 35px;
}

@media print {
   .noprint {display:none}
}

.btnA	{HEIGHT:20px;BORDER:1px solid #000000;TEXT-DECORATION:none;BACKGROUND-IMAGE:url(../Images/bgcolor.gif)}